@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap");
.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.name-applicant-label {
  display: flex;
  position: absolute;
  top: 61px;
  background: #3e3298;
  width: 50rem;
  justify-content: center;
  left: 23rem;
  font-size: 12px;
  font-family: Satoshi;
  color: #fff;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

.applicants-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  background: #e3efff;
  border: 1px solid #b8b8b8;
  margin: 15px;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  width: 118rem;
  height: 56rem;
}

.dropdownlist-applicant {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 11rem;
    left: 23rem;
}

.applicant-form-label {
  display: flex;
  position: absolute;
  top: 0rem;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.row.mt-2 {
  display: flex;
  padding: 10px;
  position: absolute;
  left: 23rem;
}

.col-md-6,
.col-md-12 {
  padding: 10px;
}

.labels-applicants {
  font-size: 11px;
}

.contact-info {
  display: flex;
  position: absolute;
  left: 23rem;
  top: 8rem;
}

.address-applicants {
  display: flex;
}

.address-applicants {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  left: 23rem;
  top: 16rem;
}

.address-applicants-2 {
  display: flex;
  position: absolute;
  top: 50px;
}

.school {
  display: flex;
  position: absolute;
  align-items: center;
  top: 25rem;
  left: 23rem;
}

.name-applicant {
  display: flex;
  position: absolute;
  left: 23rem;
  top: 5rem;
}

.applicant-address-label {
  display: flex;
  position: absolute;
  top: 233px;
  background: #3e3298;
  width: 50rem;
  justify-content: center;
  left: 23rem;
  font-size: 12px;
  font-family: Satoshi;
  color: #fff;
}

.applicant-school-label {
  display: flex;
  position: absolute;
  top: 23rem;
  background: #3e3298;
  width: 50rem;
  justify-content: center;
  left: 23rem;
  font-size: 12px;
  font-family: Satoshi;
  color: #fff;
}

.applicant-work {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 23rem;
}

.application-submit {
  display: flex;
  margin: 12px auto 10%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
  position: absolute;
  top: 50rem;
}

h4.applicant-work-label {
  display: flex;
  position: absolute;
  top: 29rem;
  background: #3e3298;
  width: 50rem;
  justify-content: center;
  left: 23rem;
  font-size: 12px;
  font-family: Satoshi;
  color: #fff;
}

.applicant-work {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: -179px;
  justify-content: center;
  top: 11rem;
}
.applicant-work-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: -179px;
  justify-content: center;
  top: 10rem;
}

.applicant-work .col-md-6 {
  flex: 1;
  margin-right: 10px;
}

.applicant-work .btn-danger {
  margin-top: 10px;
}

.add-work-experience-button {
  margin-top: 15px;
  position: absolute;
  text-align: center;
  display: flex;
  top: 29rem;
  align-items: center;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}


.images-applicant {
  display: flex;
  position: absolute;
  right: 18rem;
  top: 1rem;
}

.image-note {
  display: flex;
  position: absolute;
  top: 15rem;
  right: 16rem;
  justify-content: center;
  width: 15rem;
  font-size: 13px;
  font-family: "Satoshi";
  line-height: 1.5;
  font-weight: 500;
}

.images-esignature {
  display: flex;
  position: absolute;
  right: 9rem;
  top: 19rem;
}

.images-esignature {
  margin-top: 20px;
  border: 1px solid black;
}

.emergency-contact-label {
  display: flex;
  position: absolute;
  top: 38rem;
  background: #3e3298;
  width: 50rem;
  justify-content: center;
  left: 23rem;
  font-size: 12px;
  font-family: Satoshi;
  color: #fff;
}

.emergency-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: -178px;
  justify-content: center;
  top: 11rem;
}

.government-id {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: -276px;
  justify-content: center;
  top: 12rem;
}

.government-id-label {
  display: flex;
  position: absolute;
  top: 43rem;
  background: #3e3298;
  width: 50rem;
  justify-content: center;
  left: 23rem;
  font-size: 12px;
  font-family: Satoshi;
  color: #fff;
}

/* Define styles for the custom alert */
.custom-alert {
  padding: 10px;
  border: 2px solid #ccc;
  background-color: #f7f7f7;
  color: #333;
  margin-top: 10px;
  display: none; /* Hide the alert by default */
}

/* Style for success message */
.custom-alert.success {
  border-color: #66bb6a;
  background-color: #e8f5e9;
  color: #2e7d32;
}

/* Style for error message */
.custom-alert.error {
  border-color: #ef5350;
  background-color: #ffebee;
  color: #b71c1c;
}
