@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap');

.dashboard {
  background-color: rgb(238, 242, 246);
  width: 97%;
  min-height: calc(100vh - 88px);
  flex-grow: 1;
  padding: 20px;
  max-width: 100%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 0;
  border-radius: 12px 12px 0px 0px;
  transition: width 0.3s ease-in-out;
}

.dashboard.half-width {
  width: 85%;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recruitment-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5rem;
  left: 17rem;
}

.recruitment-tile {
  font-size: 20px;
  font-family: Satoshi;
  font-weight: 700;
  color: #451397;
  text-align: center;
}

.sources-container {
  border: solid 1px;
  border-radius: 20px;
  position: absolute;
  top: 88px;
  width: 100%;
  padding: 10px;
  height: 40vh;
  border-color: rgb(76 0 229 / 38%);
  background: #1d00de47;
}

h1.title-sources {
  font-size: 25px;
  font-family: Satoshi;
  font-weight: 700;
  color: #451397;
  text-align: center;
}

.dropdown-container {
  display: flex;
  justify-content: center;
}