.dashboard {
  background-color: rgb(238, 242, 246);
  width: 97%;
  min-height: calc(150vh - 150px);
  flex-grow: 1;
  padding: 20px;
  max-width: 100%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 0;
  border-radius: 12px 12px 0px 0px;
  transition: width 0.3s ease-in-out;
}

.dashboard.half-width {
  width: 85%;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 55px;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  position: relative;
  top: -5rem;
  margin-right: auto;

  .banner-container {
    z-index: 9999;
    /* Set a high z-index value to bring the banner to the front */
  }
}

.dashboard-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  transition: transform 0.3s ease-in-out; /* Add transition for non-hover state */

  /* Added hover effect */
  &:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}

.tiles {
  width: 380px;
  height: 169px;
  border-radius: 12px;
  border: none;
  background-color: rgb(94, 53, 177);
  color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  box-shadow: none;
  background-image: none;
  padding: 18px;

  /* Added transition for smoother hover effect */
  transition: transform 0.5s linear;
  cursor: pointer;

  /* Updated position for the shapes on hover */
  &:hover::before {
    top: -74px;
    right: -104px;
  }

  &:hover::after {
    top: -94px;
    right: -195px;
  }
}

.tiles::before {
  content: "";
  position: absolute;
  top: -124px;
  right: -4px;
  transition: top 0.5s ease-in-out, right 0.5s ease-in-out; /* Add transition for the shapes on hover */
}

.tiles::after {
  content: "";
  position: absolute;
  top: -104px;
  right: -95px;
  transition: top 0.5s ease-in-out, right 0.5s ease-in-out; /* Add transition for the shapes on hover */
}

.tiles::before {
  width: 210px;
  height: 210px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.tiles::after {
  width: 211px;
  height: 211px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.tiles .title-tile {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}