.banner {
  position: fixed; /* Add position fixed to make the banner fixed */
  top: 0; /* Adjust the top position as needed */
  left: 0; /* Adjust the left position as needed */
  z-index: 999; /* Set a high z-index value */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff; /* Set white background color */
}

.left-section {
  display: flex;
  align-items: center;
}

.logo-banner {
  height: 40px;
  margin-right: 10px; /* Add margin between logo and other items */
  max-width: 30%;
}

.side-panel-btn {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px; /* Add margin between side-panel-btn and search-bar */
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.266); /* Add border with opacity */
}


.search-bar input[type="text"] {
  border: none;
  outline: none;
  padding: 5px;
}

.search-icon {
  margin-left: 5px;
}

.right-section {
  display: flex;
  align-items: center;
  margin-left: 90rem;
}

.notification-icon,
.profile-icon,
.settings-icon {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Add margin between icons */
}

/* Additional styles for the icons (replace with your own) */
.side-panel-btn,
.notification-icon,
.profile-icon,
.settings-icon {
  color: #333;
  font-size: 16px;
}
