@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

label#remeber {
    position: absolute;
    top: 17.4rem;
    font-size: 25px;
    right: 160px;
}

input#remember-me {
    display: flex;
    align-items: center;
    margin-left: 36rem;
    margin-top: -18px;
}

.form_background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.form-container label {
    margin-bottom: 5px;
}

.form-container input {
    margin-bottom: 10px;
}

h1.title-hr {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    margin-bottom: 45rem;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    font-size: 60px;
}


.image-placeholder {
    background-color: #ccc;
    width: 50%;
    height: 100vh;
    border-radius: 20px 0px 0px 20px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    animation: slideShow 15s infinite;

}

@keyframes slideShow {
    0% {
        background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/0e3b56173550493.64921f77d7d10.png');
    }

    33.33% {
        background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/32332e173550493.64921f77d8a07.png');
    }

    66.66% {
        background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/58cd51173550493.64921f77d7075.png');
    }

    100% {
        background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/0e3b56173550493.64921f77d7d10.png');
    }
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #240046;
    overflow: hidden;
}

.logo {
    margin-left: 33%;
    margin-top: -42%;
    position: absolute;
}

img {
    height: auto;
    max-width: 15%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 15px;
}

p.forgot-pass {
    font-size: 16px;
    font-family: 'Satoshi';
    font-weight: 300;
    line-height: 1.5;
    margin-left: 20px;
}

/*checkbox to switch from sign up to login*/
#chk {
    display: none;
}

/*Login*/
.login {
    position: relative;
    width: 100%;
    height: 100%;
}

.login label {
    margin: 25% 0 5%;
    color: #fff;
}

#passwd {
    margin-top: -26px;
}

label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.input {
    width: 75%;
    height: 35px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-left: 95px;
}

/*Register*/
.register {
    background: #eee;
    border-radius: 90% / 10%;
    transform: translateY(5%);
    transition: .8s ease-in-out;
}

.register label {
    color: #573b8a;
    transform: scale(0.6);
    font-size: 4rem;
}

#chk:checked~.register {
    transform: translateY(-60%);
}

#chk:checked~.register label {
    transform: scale(1);
    margin: 10% 0 5%;
}

#chk:checked~.login label {
    transform: scale(.6);
    margin: 5% 0 5%;
}

/*Button*/
.form button {
    width: 25%;
    height: 50px;
    margin: 12px auto 10%;
    color: #fff;
    background: #573b8a;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}

.form button:hover {
    background-color: #6d44b8;
}



@media only screen and (max-width: 390px) {
    .form-container {
        position: relative;
    }

    .logo {
        margin-left: 29%;
        margin-top: -70%;
        position: absolute;
        top: 25rem;
        left: 35px;
        z-index: 999;
        width: 20rem;
    }

    .login label {
        margin: 25% 0 5%;
        color: #fff;
    }

    img {
        height: auto;
        max-width: 25%;
    }

    input#remember-me {
        display: flex;
        align-items: center;
        margin-left: 28rem;
        margin-top: -21px;
        top: -1.1rem;
        position: relative;
        left: -20rem;
    }

    label#remeber {
        position: absolute;
        top: 18.4rem;
        font-size: 20px;
        right: 78px;
        color: #fff;
    }

    .register label {
        color: #573b8a;
        transform: scale(0.6);
        font-size: 40px;
        position: relative;
        top: -31px;
    }

}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    .form-container {
        width: 100%;

    }

    label {
        display: flex;
        font-size: 25px;
        font-family: Satoshi;
        font-weight: 700;
        color: #fff;
        padding-top: 13px;
        padding-left: 8px;
    }

    .login {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .input {
        width: 75%;
        height: 35px;
        background: #e0dede;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 4px;
        margin-left: 38px;
    }


    label#remeber {
        position: absolute;
        top: 19.4rem;
        font-size: 25px;
        right: 78px;
        color: #fff;
    }

    input#remember-me {
        display: flex;
        align-items: center;
        margin-left: 28rem;
        margin-top: -21px;
        top: 0rem;
        position: relative;
        left: -21rem;
    }

    .register label {
        color: #573b8a;
        transform: scale(0.6);
        font-size: 45px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 38px;
        margin-left: 5px;
        margin-right: 20px;
        margin-top: 5px;
        padding-top: 84px;
    }

    #chk:checked~.register label {
        transform: scale(1);
    }

    .register {
        background: #eee;
        border-radius: 90%/10%;
        transform: translateY(5%);
        transition: 0.8s ease-in-out;
        padding-bottom: 12rem;
        padding-top: 2rem;
    }

    .logo {
        margin-left: 29%;
        margin-top: -70%;
        position: absolute;
        top: 27rem;
        left: 35px;
        z-index: 999;
        width: 15rem;
    }

    img {
        height: auto;
        max-width: 25%;
    }

    .login label {
        color: #fff;
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    .form-container {
        width: 50%;
    }
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {
    .form-container {
        width: 50%;
    }

    .login {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .login label {
        margin: 10% 0 5%;
        color: #fff;
        top: 2rem;
        position: relative;
    }

    .input {
        width: 80%;
        height: 40px;
        background: #e0dede;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 4px;
        margin-left: 67px;
    }

    label#remeber {
        position: absolute;
        top: 20.2rem;
        font-size: 25px;
        right: 7rem;
        color: #fff;
    }

    input#remember-me {
        display: flex;
        align-items: center;
        margin-left: 44rem;
        top: -1.5rem;
        position: relative;
        left: -17rem;
    }

    .logo {
        margin-left: 33%;
        margin-top: -42%;
        position: absolute;
        top: 27rem;
        left: 35px;
        z-index: 999;
        width: 15rem;

    }

    img {
        height: auto;
        max-width: 25%;
    }

    .register label {
        color: #573b8a;
        transform: scale(0.6);
        font-size: 4rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 5px;
        margin-right: 20px;
        margin-top: 5px;
        padding-top: 53px;
        padding-bottom: 6rem;
    }

    #chk:checked~.register label {
        transform: scale(1);
        margin: 0 0 0%;
    }

    .register {
        background: #eee;
        border-radius: 90%/10%;
        transform: translateY(5%);
        transition: 0.8s ease-in-out;
        padding-bottom: 20rem;
        padding-top: 2rem;
    }

    .form button {
        width: 25%;
        height: 55px;
        margin: -22px auto -6%;
        color: #fff;
        background: #573b8a;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.2s ease-in;
    }

    p.forgot-pass {
        font-size: 25px;
        font-family: "Satoshi";
        font-weight: 400;
        line-height: 1.5;
        margin-left: 20px;
    }
}

/* Big screen devices (889px and above) */
@media only screen and (max-width: 889px) {
    .form-container {
        position: relative;
    }
}


/* Extra big screen devices (912px and above) */
@media only screen and (max-width: 912px) {

    .image-placeholder {
        background-color: #ccc;
        width: 70rem;
        height: 100vh;
        background-size: cover;
        background-position: center;
        transition: background-image 0.5s ease-in-out;
        animation: slideShow 15s infinite;
    }

    .form-container {
        width: 50%;
        position: relative;
        padding: 0;
    }

    .login {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .login label {
        margin: 10% 0 5%;
        color: #fff;
        top: 2rem;
        position: relative;
    }

    .input {
        width: 80%;
        height: 40px;
        background: #e0dede;
        padding: 10px;
        font-size: 2rem;
        font-family: 'Satoshi';
        border: none;
        outline: none;
        border-radius: 4px;
        margin-left: 67px;
    }

    label#remeber {
        position: absolute;
        top: 30.2rem;
        font-size: 25px;
        right: 9rem;
        color: #fff;
    }

    input#email {
        font-size: 26px;
    }

    input#passwd {
        font-size: 30px;
        position: relative;
        top: -6rem;
    }

    input#remember-me {
        display: flex;
        align-items: center;
        margin-left: 44rem;
        top: -13.8rem;
        position: relative;
        left: -10rem;
        width: 20px;
        height: 20px;
    }

    .logo {
        margin-left: 33%;
        margin-top: -42%;
        position: absolute;
        top: 27rem;
        left: 35px;
        z-index: 999;
        width: 15rem;

    }

    img {
        height: auto;
        max-width: 25%;
    }

    .register label {
        color: #573b8a;
        transform: scale(0.6);
        font-size: 5rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 165px;
        margin-left: 5px;
        margin-right: 20px;
        margin-top: 5px;
        padding-top: 53px;
        padding-bottom: 6rem;
    }

    #chk:checked~.register label {
        transform: scale(1);
        margin: 0 0 0%;
    }

    .register {
        background: #eee;
        border-radius: 90%/10%;
        transform: translateY(5%);
        transition: 0.8s ease-in-out;
        padding-bottom: 26rem;
        padding-top: 2rem;
    }

    .form button {
        width: 30%;
        height: 75px;
        margin: -22px auto -6%;
        color: #fff;
        background: #573b8a;
        font-size: 2rem;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        top: -20rem;
        transition: 0.2s ease-in;
    }

    p.forgot-pass {
        font-size: 25px;
        font-family: "Satoshi";
        font-weight: 400;
        line-height: 1.5;
        margin-left: 20px;
    }
}


/* Extra big screen devices (912px and above) */
@media only screen and (max-width: 1200px) {

    .image-placeholder {
        background-color: #ccc;
        width: 70rem;
        height: 100vh;
        background-size: cover;
        background-position: center;
        transition: background-image 0.5s ease-in-out;
        animation: slideShow 15s infinite;
    }

    .form-container {
        width: 100%;
        position: absolute;
        padding: 0;
    }

    .login {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .login label {
        margin: 10% 0 5%;
        color: #fff;
        top: 2rem;
        position: relative;
    }

    .input {
        width: 80%;
        height: 40px;
        background: #e0dede;
        padding: 10px;
        font-size: 2rem;
        font-family: 'Satoshi';
        border: none;
        outline: none;
        border-radius: 4px;
        margin-left: 67px;
    }

    label#remeber {
        position: absolute;
        top: 30.2rem;
        font-size: 25px;
        right: 9rem;
        color: #fff;
    }

    input#email {
        font-size: 26px;
    }

    input#passwd {
        font-size: 30px;
        position: relative;
        top: -6rem;
    }

    input#remember-me {
        display: flex;
        align-items: center;
        margin-left: 44rem;
        top: -13.8rem;
        position: relative;
        left: -10rem;
        width: 20px;
        height: 20px;
    }

    .logo {
        margin-left: 33%;
        margin-top: -42%;
        position: absolute;
        top: 27rem;
        left: 35px;
        z-index: 999;
        width: 15rem;

    }

    img {
        height: auto;
        max-width: 25%;
    }

    .register label {
        color: #573b8a;
        transform: scale(0.6);
        font-size: 5rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 165px;
        margin-left: 5px;
        margin-right: 20px;
        margin-top: 5px;
        padding-top: 53px;
        padding-bottom: 6rem;
    }

    #chk:checked~.register label {
        transform: scale(1);
        margin: 0 0 0%;
    }

    .register {
        background: #eee;
        border-radius: 90%/10%;
        transform: translateY(5%);
        transition: 0.8s ease-in-out;
        padding-bottom: 26rem;
        padding-top: 2rem;
    }

    .form button {
        width: 30%;
        height: 75px;
        margin: -22px auto -6%;
        color: #fff;
        background: #573b8a;
        font-size: 2rem;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        top: -20rem;
        transition: 0.2s ease-in;
    }

    p.forgot-pass {
        font-size: 25px;
        font-family: "Satoshi";
        font-weight: 400;
        line-height: 1.5;
        margin-left: 20px;
    }
}