.tiles-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    max-width: 31rem;
    position: relative;
    left: 16rem;
    bottom: 2.4rem;
    align-content: center;
}

.tile {
    background-color: #3e3298;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: 195px;
    font-family: Satoshi;
    font-size: 15px;
    font-weight: 600;
    color: aliceblue;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px,
        rgba(240, 46, 170, 0.3) 0px 10px,
        rgba(240, 46, 170, 0.2) 0px 15px,
        rgba(240, 46, 170, 0.1) 0px 20px,
        rgba(240, 46, 170, 0.05) 0px 25px;

}

.tile:hover {
    transform: translateY(-5px);
    cursor: pointer;
    color: #ffffff;
}

.tile i {
    font-size: 36px;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

.tile:hover i {
    color: #d9fa21;
}

.tile h3 {
    font-size: 18px;
    margin-bottom: 8px;
    padding: 0;
    margin-top: 0;
}

.tile .number {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}